
<h2>List of available books in the library</h2>
<form class="d-flex mb-2" (ngSubmit) = "searchBooks()" role="search">
    <input class="form-control me-2" type="search" placeholder="Search By Book Name" aria-label="Search" name="search" [(ngModel)] ="text">
    <button class="btn btn-outline-success" type="submit" >Search</button>
  </form>
<table class="table table-success table-striped">
    <thead>
        <tr>
            <th> Book ID </th>
            <th> Name </th>
            <th> Author </th>
            <th> Genre </th>
            <th> Number of copies available </th>
            <th> Actions </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let book of books">
            <td> {{ book.bookId }} </td>
            <td> {{ book.bookName }} </td>
            <td> {{ book.bookAuthor }} </td>
            <td> {{ book.bookGenre }} </td>
            <td> {{ book.noOfCopies }} </td>
            <td>
                <button (click) = "borrowBook(book.bookId)" class="btn btn-success"> Borrow </button>
            </td>
        </tr>
    </tbody>
</table>